p {
  line-height: 1.5;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.box {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

/* Your Code Goes Under This Line */

.box {

  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, .1);

}

.fun {
  box-shadow: 10px 1px 8px 1px rgba(255, 0, 0, .9),
  1px 10px 8px 1px rgba(0, 255, 0, .9),
  -10px -10px 8px 1px rgba(0, 0, 255, .9);
}
